@import "settings";
@import "foundation";
@import "flex.scss";
@import "slick.scss";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

///////////////////////////////////////////////
// GENERAL
///////////////////////////////////////////////

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (min--moz-device-pixel-ratio: 2),
          only screen and (-o-min-device-pixel-ratio: 2/1),
          only screen and (min-device-pixel-ratio: 2),
          only screen and (min-resolution: 192dpi),
          only screen and (min-resolution: 2dppx)";


@font-face {
    font-family: 'Gibson-SemiBold';
    src: url('../fonts/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-SemiBold.woff') format('woff'),
         url('../fonts/Gibson-SemiBold.ttf')  format('truetype'),
         url('../fonts/Gibson-SemiBold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Gibson-Regular';
    src: url('../fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-Regular.woff') format('woff'),
         url('../fonts/Gibson-Regular.ttf')  format('truetype'),
         url('../fonts/Gibson-Regular.svg#webfont') format('svg');
}


@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.otf')  format('truetype'),
         url('../fonts/Gotham-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-black-webfont.woff') format('woff'),
         url('../fonts/gotham-black-webfont.ttf')  format('truetype'),
         url('../fonts/gotham-black-webfont.svg#webfont') format('svg');
}

h1 { 
    line-height: rem-calc(100px);
    text-transform: uppercase;
    text-align: center;
}

h1:not(.no-decoration) { 
    background: url(../images/seal.png) center center; 
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin dotted-line() {
    background: url(../images/dotted-line.png);
    background-size: contain;
    content: '';
    display: block;
    height: 1px;
    position: relative;
}

h1:not(.no-decoration)::before, h1:not(.no-decoration)::after { 
    @include dotted-line;
}


.alternate-bg h1:not(.no-decoration) { 
    background-image: url(../images/seal-alternate.png); 
}

h1:not(.no-decoration)::before { top: rem-calc(25px); }
h1:not(.no-decoration)::after { top: rem-calc(-25px); }

@media #{$retina} { 
    h1:not(.no-decoration) { 
        background-image: url(../images/seal@2X.png);
    }

    .alternate-bg h1:not(.no-decoration) { 
        background-image: url(../images/seal-alternate@2X.png);
    }

    h1:not(.no-decoration)::before, h1:not(.no-decoration)::after { 
        background-image: url(../images/dotted-line@2X.png);
    }
}

@media #{$medium-up} {
    h1:not(.no-decoration) { 
        line-height: rem-calc(143px);
    }        
    h1:not(.no-decoration)::before { top: rem-calc(36px); }
    h1:not(.no-decoration)::after { top: rem-calc(-36px); }
}

h2 { 
    font-family: "Georgia";
    color: $secondary-color;
    text-align: center; 
}

h3 { text-transform: uppercase; }

p { text-align: center; }


.alternate-bg { background-color: #f5f0e9; }

///////////////////////////////////////////////
// HEADER
///////////////////////////////////////////////
@mixin header-height($height) {
    .f-topbar-fixed { padding-top: $height !important; }
    .top-bar {
        height: $height;
        .title-area { height: $height; }
        .name h1 { line-height: $height; }
    }

    a[name] {
        position: relative;
        top: -$height;
    }
}

@include header-height(rem-calc(100px));

.top-bar {
    background-color: transparent;
    .name {
        h1 { 
            background: none; 
            text-align: left;
        }
        a { padding: 0 !important; } 
    }
    .logo-large { display: none; }
    .logo-small { margin: rem-calc(5px); }
    .menu-icon { 
        margin-right: rem-calc(10px);
        a { padding: 0 rem-calc(25px) 0 0; }
    }
    .top-bar-section li a { text-transform: uppercase; }
    .socialmedia img { width: rem-calc(30px); }
}

.top-bar.expanded 
{
    .top-bar-section {
        //background: $secondary-color;
        li {
            border-top: rem-calc(1px) solid $body-font-color;

            a { 
                //color: #fff;
                padding: rem-calc(12px); 
            }
        }
    }

    .top-bar-section.order-2 {
        li:nth-child(3) { border-bottom: rem-calc(1px) solid $body-font-color; }
        li:last-of-type { display: none; }
    }
}

@media #{$small-up} {
    .logo-small { width: rem-calc(200px); }
}

@media #{$medium-up} {
    @include header-height(rem-calc(192px));
    a[name] { top: rem-calc(-86px) !important; }
    .logo-small { display: none; }
    .top-bar {
        .name h1 a { 
            text-align: center;
            width: auto;
        }
        .name .logo-large { width: rem-calc(129px); display: inline-block; }
        .menu-icon { margin-top: rem-calc(30px) !important; }
    }
}

@media #{$large-up} {
    .top-bar {
        @include flexbox;
        
        .title-area { 
            @include flex(none);

            float: none;
            
            .show-for-large-up { display: inline-block !important; }
        }

        .top-bar-section, ul { 
            @include flexbox;
            @include flex-just(space-between);
            @include flex(1, 1, 50%);

            margin: 0% 1.25% !important;   
        }

        .top-bar-section li a, .socialmedia li {
            
            display: inline;
            span, a { line-height: rem-calc(286px) !important; }
        }

        .order-0 { @include order(0); }
        .order-1 { @include order(1); }
        .order-2 { @include order(2); }
    }
}


///////////////////////////////////////////////
// MAIN SLIDER
///////////////////////////////////////////////
#mainslider {
    div > div > div {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    section { 
        padding: 1.5em;
        width: 100%;
        background: rgba(#000, 0.5);
    }

    h1 { 
        line-height: 1em;
        color: rgba(#d3d1c9, 1);
        font-family: "Gotham-Black";
    }

    h2 {
        color: rgba(#e99e21, 1);
        font-size: rem-calc(24px);
        font-family: "Gibson-Regular";
        font-weight: bold;
        font-size: rem-calc(20px) !important;
    }

    .slick-dots { 
        margin-left: 0px; 
        margin-right: 0px; 
    }

    .full { width: 100%; }
}

@media #{$medium-up} {
    #mainslider h1 { font-size: rem-calc(55px); }
}


///////////////////////////////////////////////
// Cardapio
///////////////////////////////////////////////

#cardapio {
    h3 { }
    h3::after {
        @include dotted-line;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cardapio-completo {
        p { text-align: left; }

        dt, .cardapio-item { 
            color: #ac9874; 
        }

        dl {
            dd { 
                padding-bottom: 8px;
                border-bottom: 1px solid #cfc0a4;
            }

            dd:last-of-type { border-bottom: none; padding-bottom: inherit;}
        }

    }
}


///////////////////////////////////////////////
// Localização
///////////////////////////////////////////////

#google-map {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .3;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}

///////////////////////////////////////////////
// Social
///////////////////////////////////////////////
#social {
    font-size: $topbar-link-font-size;
    font-family: "Gotham-Bold";
    text-transform: uppercase;

    img { 
        height: 46px;
        margin-right: 10px;
    }

    .social-list {

        margin-top: 10px;

        span { width: 80px; display: inline-block; text-align: center; }
        div { 
            border-bottom: 1px solid #cfc0a4;
            
            padding-top: 10px;
            padding-bottom: 10px;
        }

        div:last-of-type { border-bottom: none; }
    }
}

@media #{$medium-up} {
    #social .social-list {

        span { width: auto; display: inline-block; text-align: center; }

        div {
            text-align: center;
            border-bottom: none;
            border-right: 1px solid #cfc0a4;
        }

        div:last-of-type { border-right: none; }
    }
}
